<section data-ng-controller="HomeController">
	<div>
		<h2>Hey there! This is the store locator. With a map!</h2>
		<ul>
			<li> You'll need to sign up/sign in to access the content.
				Click
				<em>Sign up</em>
				to get started or
				<em>Sign in</em>
				to use a Google/Twitter/GitHub account.
			</li>
			<li>
				When you're all signed in, you'll be able to access the stores data by going into the
				<em>Stores</em>
				menu!
			</li>
		</ul>
		<p>This app was created from the MEAN.JS generator... so there's a lot of goodies</p>
		<ul>
			<li>Map of stores with HeatMap based on the number of visitors. (It's sloooow. Sorry about that. Angular and Google Maps have trouble handling more 1000 markers... There are a few performance tweaks that could be used, like marker clustering, but that's for another time!)</li>
			<li>Data is stored in a local mongo database running on the same EC2 instance as the app.</li>
			<li>You can list/create/edit stores directly in the web app or use the API. Here is the <a href="https://www.getpostman.com/collections/9c4f3afb786f69f1b543">POSTMAN collection</a></li>
			<li>User login using Passport strategies -> Google/Twitter/GitHub or "local user". Heck, I'll even send you an email to reset your password if you need to!</li>
		</ul>
	</div>
</section>
