<section data-ng-controller="StoresController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Store</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="name">Total Visitors</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.total_visitors" id="total_visitors" class="form-control" placeholder="Total Visitors" required>
                    </div>
                    <label class="control-label" for="name">Latitude</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.latitude" id="latitude" class="form-control" placeholder="Latitude" required>
                    </div>
                    <label class="control-label" for="name">Longitude</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.longitude" id="longitude" class="form-control" placeholder="Longitude" required>
                    </div>
                    <label class="control-label" for="name">City</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.city" id="city" class="form-control" placeholder="City" required>
                    </div>
                    <label class="control-label" for="name">Country</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.country" id="country" class="form-control" placeholder="Country" required>
                    </div>
                    <label class="control-label" for="name">RSS Range</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.rss_range" id="rss_range" class="form-control" placeholder="RSS Range" required>
                    </div>
                    <label class="control-label" for="name">TZ</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.tz" id="tz" class="form-control" placeholder="TZ" required>
                    </div>
                    <label class="control-label" for="name">TZ Index</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.tz_index" id="tz_index" class="form-control" placeholder="TZ Index" required>
                    </div>
                    <label class="control-label" for="name">Duration Threshold</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.duration_threshold" id="duration_threshold" class="form-control" placeholder="Duration Threshold" required>
                    </div>
                    <label class="control-label" for="name">Start of Day</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.start_of_day" id="start_of_day" class="form-control" placeholder="Start of Day" required>
                    </div>
                    <label class="control-label" for="name">Is Updating</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.is_updating" id="is_updating" class="form-control" placeholder="Is Updating" required>
                    </div>
                    <label class="control-label" for="name">RSS Campaign</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.rss_campaign" id="rss_campaign" class="form-control" placeholder="RSS Campaign" required>
                    </div>
                    <label class="control-label" for="name">Session Timeout</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.session_timeout" id="session_timeout" class="form-control" placeholder="Session Timeout" required>
                    </div>
                    <label class="control-label" for="name">Raw Data</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.raw_data" id="raw_data" class="form-control" placeholder="Raw Data" required>
                    </div>
                    <label class="control-label" for="name">Campaign Duration</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.campaign_duration" id="campaign_duration" class="form-control" placeholder="Campaign Duration" required>
                    </div>
                    <label class="control-label" for="name">RSS Walkby</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.rss_walkby" id="raw_data" class="form-control" placeholder="RSS Walkby" required>
                    </div>
                    <label class="control-label" for="name">Visit Duration</label>
                    <div class="controls">
                        <input type="text" data-ng-model="store.visit_duration_keep_fraction" id="visit_duration_keep_fraction" class="form-control" placeholder="Visit Duration" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
