<section data-ng-controller="MapController">
	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
		<ui-gmap-layer namespace="visualization" type="HeatmapLayer" options="map.heatLayer.options" show="map.showHeat" onCreated="map.heatLayer.onCreation"></ui-gmap-layer>
		<ui-gmap-markers
				models='stores'
				idkey="'name'"
				coords="'self'"
				>
				<ui-gmap-windows show="show">
						<div ng-non-bindable class="marker-window">
							<h3>{{name}}</h3>
							<div><span class="marker-window-subtitle">Total Visitors:</span> {{total_visitors}}</div>
							<div><span class="marker-window-subtitle">City:</span>  {{city}}</div>
							<div><span class="marker-window-subtitle">Coutry:</span>  {{country}}</div>
							<div><span class="marker-window-subtitle">RSS Range:</span>  {{rss_range}}</div>
							<div><span class="marker-window-subtitle">TZ:</span>  {{tz}}</div>
							<div><span class="marker-window-subtitle">TZ Index:</span>  {{tz_index}}</div>
							<div><span class="marker-window-subtitle">Duration Threshold:</span>  {{duration_threshold}}</div>
							<div><span class="marker-window-subtitle">Start of Day:</span>  {{start_of_day}}</div>
							<div><span class="marker-window-subtitle">Is Updating:</span>  {{is_updating}}</div>
							<div><span class="marker-window-subtitle">RSS Campaign:</span>  {{rss_campaign}}</div>
							<div><span class="marker-window-subtitle">ession Timeout:</span>  {{session_timeout}}</div>
							<div><span class="marker-window-subtitle">Raw Data:</span>  {{raw_data}}</div>
							<div><span class="marker-window-subtitle">Campaign Duration:</span>  {{campaign_duration}}</div>
							<div><span class="marker-window-subtitle">RSS Walkby:</span>  {{rss_walkby}}</div>
							<div><span class="marker-window-subtitle">Visit Duration:</span>  {{visit_duration_keep_fraction}}</div>
						</div>
				</ui-gmap-windows>
		</ui-gmap-markers>
	</ui-gmap-google-map>

</section>
